<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10" style="padding-left: 100px ">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Prikaz korisnika</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID (disabled)" value="{{checkedKorisnik?.korisnikID}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="imePrezime" value="{{checkedKorisnik?.imePrezime}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="eMail" value="{{checkedKorisnik?.email}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="telefon" value="{{checkedKorisnik?.telefon}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="radnik" value="{{checkedKorisnik?.radnik.imePrezime}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>