<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="color: #9c27b0">
                        <h4 class="card-title ">Unos termina</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Dan" class="dan" [(ngModel)]="termin.datum"
                                        [ngModelOptions]="{standalone: true}" type="date">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Vreme" class="vreme" [(ngModel)]="termin.vreme"
                                        [ngModelOptions]="{standalone: true}" type="time">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <button mat-raised-button type="submit" (click)="dodajStavku()"
                                    class="btn btn-danger pull-right">
                                    Dodaj termin</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>
                                        Redni broj
                                    </th>
                                    <th>
                                        Datum
                                    </th>
                                    <th>
                                        Vreme
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let termin of termini; let i = index" [attr.data-index]="i">
                                        <td>{{termin.redniBroj.redniBroj}}</td>
                                        <td>{{termin.datum}}</td>
                                        <td>{{termin.vreme}}</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>